@{
    ViewData["Title"] = "Creating Tasks";
}
<div class="Title">
<h1>How it Works</h1>
    <div class="left">
        <ul>
            <li><a href="http://localhost:5000/"> Return Home</a></li>
            <li><a href="http://localhost:5000/Todos/Create">Quick Start</a></li>
            <li><a href="#">Troubleshooting</a></li>
            <li><a href="#">Helpful Resources</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </div>
    <div class="middle">
        <div class="content-box">
            <h2>Step 1</h2>
            <p>Lets get started!Here is the home page.</p>
            <p>To get started click the create new button that you see in blue.</p>
            <img src="/images/todolist1.png">
        </div>
        <div class="content-box">
            <h2>Step 2</h2>
            <p>Here you will create a task.</p>
            <p>Enter a description and a created date. Once your done hit the create button. This will create a new task with the description you made along with the date.</p>
            <img src= "/images/howtotask-2.png">
        </div>
            <div class="content-box">
                <h3>Making changes to your task</h3>
                <p>Once you created a task you will be redirected to the home page.You should see three options to the right of the screen.Edit,Details,and Delete.Here you can make changes to your task that you created.Enjoy!</p>
                <img src="/images/howtotask-3.png">
            </div>
        </div>
    
</div>
    
    

