@{
    ViewData["Title"] = "Creating Tasks";
}
<div class="Title">
<h1>How it Works</h1>
</div>
<div class="Wrapper">

    <div class="Main-box">
        <h2>Step 1</h2>
        <p>Lets get started!Here is the home page.</p>
        <p>To get started click the create new button that you see in blue</p>
        <img src="/images/todolist1.png">
    </div>
    <div class="Second-box">
    </div>


</div>